page-vehicle-details {
  .switch {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 9px;
    // float: right;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: -9px;
    bottom: 0.45px;
    background-color: rgb(236, 40, 40);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: rgb(51, 185, 84);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px rgb(51, 185, 84);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .itemStyle {
    .item-ios,
    .item-md {
      padding: 0px !important;
    }
    .label-ios,
    .label-md {
      margin: 0px !important;
    }
    .item-ios.item-block .item-inner,
    .item-md.item-block .item-inner {
      padding: 0px !important;
      margin: 0px !important;
    }
  }
  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    padding-right: 0px;
    // border-bottom: 1px solid #dedede;
  }
  .overme {
    padding-top: 8px;
    padding-right: 2px;
    width: 200px;
    line-height: normal;
    overflow: hidden;
    font-size: 0.75em;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .overme {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .colSt1 {
    height: 5rem;
    background-image: linear-gradient(to right top, #e31e25, #e53e3d, #e65552, #e46867, #e17b7b);
    padding: 0px;
    text-align: center;
    position: relative;
  }

  .colSt2 {
    height: 5rem;
    width: 80%;
    padding: 0px;
  }
  .colSt3 {
    padding-top: 8px;
    padding-right: 8px;
    ion-icon {
      color: white;
      font-size: 1.7em;
    }
  }
  .colSt4 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    // text-align: center;
    ion-icon {
      color: black;
      font-size: 1.7em;
    }
  }
  // .chartjs-tooltip-key {
  //     border-radius: 5px;
  // }
  // #doughnutCanvas {
  //     width: 500px;
  //     height: 500px;
  // }
}
